.parent-container {
    display: flex;
    gap: 16px;
}

.left-main {
    background-color: black;
    flex: 2;
    min-height: 300px;
    position: relative;
}

.suggested-videos {
    background-color: rgb(247, 243, 243);
    flex: 1;
    height: 300px;
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr;
}

.video-container {
    position: relative;
}

.video-thumbnail {
    width: 100%;
    height: 350px;
    display: block;
    margin-bottom: 8px;
}

.video-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.video-info {
    margin-top: 10px;
    background-color: rgb(39, 38, 38);
    padding: 4px;

}

.suggested-video-thumbnail {
    display: flex;
  
    
}

.sugg-video {
    width: 120px;
    height: 70px;
    margin-right: 8px;
    font-weight: bold;
    flex-shrink: 0;
}

.sugg-video-info {
  flex:1
       
    
}
.sugg-video-title {
    font-size: 16px;
    font-weight: bold;
    display: block;
    
   
}

.sugg-views {
    font-size: 14px;
    color: gray;
    display: block;
}

.sugg-author {
    font-size: 14px;
    color: gray;
    display: block;
    
}

.timestamp-1 {
    position: absolute;
    bottom: 8px;
    left: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 2px 4px;
    font-size: 10px;
    border-radius: 2px;
}
.timestamp-2 {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 2px 4px;
    font-size: 10px;
    border-radius: 2px;
}

.video-author {
    color: white;
    font-size: 14px;
    margin-top: 4px;
    display: block;
}

.video-subscriber {
    color: gray;
    font-size: 12px;
    margin-top: 2px;
    display: block;
}

.video-maker-pic {
    top: 16px;
    right: 16px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
   
  
    
}

.video-meta-details {
    
}

.video-details-container {
    margin-top: 20px;
    height: 80px;
    display: flex;
    
}

.video-maker {
    height: 50px;
    border-radius: 50%;
}

.video-maker-pic {
    
}

.video-details {
    margin-left: 10px;
    
}

.subscriber-button-container {

}

.subscribe-button {
 background-color: rgb(24, 186, 240);
 border-radius: 20px;
 margin-left: 590px;
}
.play-button-container {
    position: absolute;
    top: 50%;             
    left: 50%;   
    cursor: pointer;
    font-size: 30px;
    padding: 12px 14px;
    border-radius: 50%;
    color: white;
}

.video-buttons {
    display: flex;
}

.description-box {
    background-color: rgb(79, 79, 79);
    color: white;
    position: relative;
}

.arrow-sign {
    position: absolute;
    top: 8px;
    right: 10px;
}

.comments-box {
    display: flex;
    flex-direction: column;
    color: white;
}

.comment-time {
    color: rgb(113, 108, 108);
}

.comment-1 {
    display: flex;
    color: white;
}

.comment-1 {
    display: flex;
}

.commenter-1-pic {
    width: 50px;
    border-radius: 50%;
}